<div class="StreamCard" id="<%- locals.Id %>" Category="<%- locals.Category %>">
  <div class="StreamCardIcon">
    <svg focusable="false" width="24" height="24" viewBox="0 0 24 24" class=" NMm5M"><path d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 18H6V4h2v8l2.5-1.5L13 12V4h5v16z"></path></svg>
  </div>
  <div class="StreamCardTitle">
    <h1><%= locals.Title %></h1>
    <h3><%= locals.StartDate %></h3>
  </div>
  <div class="StreamCardBody"><%- locals.Body.Html %></div>
</div>