<div class="StreamCard" id="<%- locals.Id %>" Category="<%- locals.Category %>">
  <div class="StreamCardIcon <%- locals.CompletionType %>">
    <span class="material-icons">
      <% if (locals.type == 'Info') { %>
        account_circle
      <% } else if (locals.type == 'Content') { %>
        class
      <% } else if (locals.type == 'Assignment') { %>
        assignment
      <% } else { %>
        article
      <% } %>
    </span>
  </div>
  <div class="StreamCardTitle">
    <h1><%= locals.Title %></h1>
    <h3><%= locals.StartDate %></h3>
  </div>
  <div class="StreamCardBody">
    <% if (locals.type == 'Assignment') { %>
      <div class="FileSubmit">
        <div class="UploadedFiles">
          <div class="UploadedFile">

          </div>
          <div class="UploadedFile">

          </div>
          <div class="UploadedFile">

          </div>
          <div class="UploadedFile">

          </div>
          <div class="UploadedFile">

          </div>
          <div class="UploadedFile">

          </div>
          <div class="UploadedFile">

          </div>
        </div>
        <div class="FileForm">
          <textarea></textarea>
          <button>Add or create</button>
          <button>Submit</button>
        </div>
      </div>
    <% } else { %>
      <%- locals.Body.Html %>
    <% } %>
  </div>
</div>