<div class="StreamCard" id="<%- locals.Id %>" Category="<%- locals.Category %>" _url="<%- locals._url %>">
  <div class="StreamCardIcon <%- locals.CompletionType %>">
    <span class="material-icons">
      <% if (locals.type == 'Info') { %>
        account_circle
      <% } else if (locals.type == 'Content') { %>
        class
      <% } else if (locals.type == 'Assignment') { %>
        assignment
      <% } else { %>
        article
      <% } %>
    </span>
  </div>
  <div class="StreamCardTitle">
    <h1><%= locals.Title %></h1>
    <h3><%= locals.StartDate %></h3>
  </div>
  <div class="StreamCardBody">
    <% if (locals.type == 'Assignment') { %>
      <div class="FileSubmit">
        <div class="UploadedFiles"></div>
        <div class="FileForm">
          <textarea class="FileFormDescription"></textarea>
          <button class="FileFormAdd">Add or create</button>
          <button class="FileFormSubmit">Submit</button>
        </div>
      </div>
    <% } else if (locals.type == 'Quiz') { %>
      <div>
        <div>
          <%- locals.Body.Html %>
        </div>
        <div>
          <a class="btn" href="<%- locals._url %>">Start Quiz</a>
        </div>
      </div>
    <% } else { %>
      <%- locals.Body.Html %>
    <% } %>
  </div>
</div>