<section class="ClassContainer Search" id="ClassContainer">
  <% locals.classes.forEach((_class) => { %>
    <div class="classCard" <%= _class.disabled ? 'disabled' : '' %> class_link="<%= _class.href %>">
      <picture>
        <img src="<%- _class.picture %>">
      </picture>
      <div class="classCardContent">
        <h4><%= _class.name %></h4>
        <h6><%= _class.disabled ? 'Closed' : _class.Text %></h6>
      </div>
    </div>
  <% }); %>
</section>