<section class="ClassContainer Search" id="ClassContainer">
  <% locals.classes.forEach((_class) => { %>
    <div class="Class" <%= _class.disabled ? 'disabled' : '' %> class_link="<%= _class.href %>">
      <picture>
        <img src="<%- _class.picture %>" />
      </picture>
      <div>
        <h1><%= _class.name %></h1>
        <div>
          <div class="Profile">
            <picture>
              <img src="<%- _class.teacher.picture %>" />
            </picture>
          </div>
          <h2><%= _class.teacher.name %></h2>
        </div>
      </div>
    </div>
  <% }); %>
</section>